#page-navigator {
    gap: 0.3em;
}

#back-to-top-holder {
    margin-bottom: 2em;
}

:is(#page-navigator, #back-to-top-holder) button {
    color: var(--gold);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:is(#page-navigator, #back-to-top-holder) button:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

#page-navigator button:disabled {
    cursor: initial;
    filter: brightness(0.6);
}
