:root {
    --light-grey: #dfdfdf;
    --med-grey: #6c6c6c;
    --content-width: 50vw;
    --dark: rgb(33, 35, 42);
    --med: rgb(50, 49, 66);
    --gold: rgb(245, 216, 55);
    --serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
    background-color: var(--med);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

#title {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 0.7em 1.4em;
    width: 25vw;
    font-size: 1.4em;
    color: var(--gold);
    font-family: var(--serif);
    cursor: pointer;
}

body * {
    font-family: "Open Sans", sans-serif;
}

body :not(input, button) {
    color: var(--light-grey);
}

body :not(h1, h2, h3) {
    font-size: 18px;
}

body {
    margin: 0;
    background-color: var(--dark);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    width: var(--content-width);
    display: flex;
    align-items: center;
}

#search-form input {
    --height: 3em;
    padding: 0 1.5em;
    height: var(--height);
    border-radius: calc(0.5 * var(--height));
    border: none;
    width: 100%;
    background-color: var(--light-grey);
    margin: 1em 0;
}

hr {
    width: 100%;
    height: 0;
    background: transparent;
    border: none;
    border-top: 1px solid var(--med-grey);
}

#no-results {
    text-align: center;
    font-family: var(--serif);
    margin-top: 2em;
    color: var(--gold);
    font-size: 1.5em;
}

#results-holder hr {
    filter: brightness(0.7);
}

#results-holder hr:not(:last-child) {
    width: calc(0.95 * var(--content-width));
    filter: brightness(0.7);
}

#results-holder {
    width: var(--content-width);
}

.result-singleChapter {
    margin-bottom: 1.6em;
    padding: 0.4em 0.8em;
    border-radius: 0.5em;
}

.result-singleChapter.expandable {
    cursor: pointer;
}

.result-singleChapter:hover {
    --bri: 1.1;
    transition: 0.2s;
    filter: brightness(var(--bri));
    backdrop-filter: brightness(var(--bri));
}

#results-holder p {
    overflow-wrap: anywhere;
    filter: brightness(0.9);
    font-weight: 300;
    cursor: initial;
}

.results-chapterName {
    font-family: var(--serif);
    font-size: 1.4em;
    font-weight: bold;
    color: var(--gold);
}

.highlighted-keyword {
    font-weight: 900;
    color: white;
}

#options {
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
}

#radio-holder {
    display: inline-block;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.display-none {
    display: none;
}

#page-navigator {
    gap: 0.3em;
}

#back-to-top-holder {
    margin-bottom: 2em;
}

.text-button {
    color: var(--gold);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-button:hover {
    filter: brightness(0.85);
    transition: 0.2s;
}

.text-button:disabled {
    cursor: initial;
    filter: brightness(0.6);
}

#modal-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}

#modal {
    width: 60vw;
    height: 70vh;
    background-color: rgb(55, 58, 68);
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0 1.5em;
    overflow-y: auto;
}

#modal-background.visible {
    visibility: visible;
    opacity: 100%;
}

#modal h1 {
    text-align: center;
    font-weight: 900;
}

#modal a {
    font-weight: 900;
    color: var(--gold);
}

#modal b {
    font-weight: 900;
}

#about-button {
    margin-left: 2em;
}

@media (max-width: 900px) {
    :root {
        --content-width: 90vw;
    }
    header {
        flex-direction: column;
    }
    #title {
        width: fit-content;
        font-size: 1.2em;
    }
    #search-form input {
        margin-top: 0;
    }
    #options {
        flex-direction: column;
        justify-content: flex-start;
    }
    #modal {
        width: 95%;
    }
}
