:root {
    --light-grey: #dfdfdf;
    --med-grey: #868686;
    --content-width: 50vw;
}

header h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body * {
    font-family: Calibri, sans-serif;
}

body :not(h1, h2, h3) {
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    width: var(--content-width);
}

#searchbar-holder {
    display: flex;
}
#searchbar-holder input {
    padding: 0.3em 0.5em;
    width: 80%;
}
#searchbar-holder button {
    width: 20%;
}

hr {
    width: 100%;
    height: 0;
    background: transparent;
    border: none;
    border-top: 1px solid var(--light-grey);
}

#results-holder {
    width: var(--content-width);
}

#results-holder p {
    overflow-wrap: anywhere;
}
